* {
  margin: auto;
}

#title {
  text-align: center;
}

#description {
    text-align: center;
}

.button {
  text-align: center;
}

.textarea {
  width: 200px;
  height: 100px;
}

ul {
  list-style: none;
}
